asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
decorator==5.2.1
Django==6.0.4
django-appconf==1.2.0
django-cors-headers==4.9.0
django-extensions==4.1
django-htmx==1.27.0
django-select2==8.4.8
djangorestframework==3.17.1
gunicorn==25.3.0
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.4.4
packaging==26.0
pillow==11.3.0
proglog==0.1.12
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
urllib3==2.6.3
whitenoise==6.12.0
